<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h2>Containers</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>LXD Name</th>
              <th>LXC Name</th>
              <th>Image</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="table-data">
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

<script>
  $( document ).ready(function() {
    $.get("https://jsonplaceholder.typicode.com/todos", function(data, status){
      console.log(data);
      $.each(data, function( index, value ) {
        $( "#table-data" ).append( 
         '<tr>' +
          '<td>'+ index +'</td>' +
          '<td>'+ value.title +'</td>' +
          '<td>ipsum</td>' +
          '<td>dolor</td>' +
          '<td>sit</td>' +
          '<td>' +
            '<div class="btn-group" role="group" aria-label="Basic example">' +
              '<button type="button" class="btn btn-primary">Start</button>' +
              '<button type="button" class="btn btn-secondary">Stop</button>' +
              '<button type="button" class="btn btn-danger">Delete</button>' +
            '</div>' +
          '</td>' +
        '</tr>'
        );  
      });
    });
  });
</script>
