<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="service-name">Service Name</label>
                <input type="text" class="form-control" id="lxc-name" placeholder="Enter lxc name" required>
            </div>

            <div class="form-group">
                <label for="lxc-port">LXC Port</label>
                <input type="text" class="form-control" id="lxc-alias" placeholder="Enter lxc alias" required>
            </div>

             <div class="form-group">
                <label for="lxd-port">LXD Port</label>
                <input type="text" class="form-control" id="lxc-alias" placeholder="Enter lxc alias" required>
            </div>

            <button class="btn btn-primary" onclick="createNewLxcService()">Create</button>
        </div>
    </div>
</div>
