<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="lxc-name">LXC Name</label>
                <input type="text" class="form-control" id="lxc-name" placeholder="Enter lxc name">
            </div>

            <div class="form-group">
                <label for="lxc-type">LXC Type</label>
                <input type="text" class="form-control" id="lxc-type" placeholder="Enter lxc type">
            </div>

            <div class="form-group">
                <label for="lxc-protocol">LXC Protocol</label>
                <input type="text" class="form-control" id="lxc-protocol" placeholder="Enter lxc protocol">
            </div>


            <div class="form-group">
                <label for="lxc-server">LXC Server</label>
                <input type="text" class="form-control" id="lxc-server" placeholder="Enter lxc server">
            </div>

            <div class="form-group">
                <label for="lxc-alias">LXC Alias</label>
                <input type="text" class="form-control" id="lxc-alias" placeholder="Enter lxc alias">
            </div>

            <button class="btn btn-primary" onclick="saveNewLxc()">Create</button>
        </div>
    </div>
</div>
