<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="lxc-name">LXC Name</label>
                <input type="text" class="form-control" id="lxc-name" placeholder="Enter lxc name" required>
            </div>

            <div class="form-group">
                <label for="lxc-alias">LXC Alias</label>
                <input type="text" class="form-control" id="lxc-alias" placeholder="Enter lxc alias" required>
            </div>

            <div class="form-group">
            <label for="weight">Choose scoring centric :</label>
                <select class="form-control" id="weight">
                    <option value="">None</option>
                    <option value="memory-centric">Memory Centric</option>
                    <option value="cpu-centric">CPU Centric</option>
                </select>
            </div>

            <div class="form-group">
                <label for="weight-value">Insert scoring weight (0 - 100)</label>
                <input type="number" class="form-control" id="weight-value" min=1 max=100 onchange="setToLimit()">
            </div>
            <button class="btn btn-primary" onclick="saveNewLxc()">Create</button>
        </div>
    </div>
</div>
